#searchlist{
	display: none;
	position: absolute;
	z-index: 1;
	width: 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.5);
    background: white;
    color: black;
    margin: 0.1rem;
    padding: 0.4rem 0.5rem;
}

#searchlist a {
	display: block;
	color: black;
	text-decoration: none;
	padding-left: 0.1rem;
	text-transform: capitalize;
}

#searchlist a:hover{
	background: #ddd;
}

#searchlist:active{
	display: block;
}

.active{
	background: #ddd;
}