img.paneload{
    width:100%;
}

p.pane{
    cursor: pointer;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 5px;
    color:rgba(0,0,0,0.8);
}

p.more{
    border:none;
}

p.more i{
    font-size:18px;
    color:#D90171;
}

p.selected{
    background-color:#D90171;
    color:white;
    border-color:#D90171;
}

div.margBottom{
    margin-bottom: 15%;
}

button.selected{
    background-color: #D90171;
    color: white;
    border-color: #D90171;
    border-radius:3px;
    border:none;
    padding: 2% 10%;
    cursor: pointer;
    font-weight: 500;
}

